@charset "UTF-8";

/* 햄버거  */
a { color: #000000; }
.hamburger a.open-menu span::after {display: none;}
.scrolling-none {overflow-y: hidden;}
#overlay-menu {display:none;opacity:0;transition:all 2s;}
#overlay-menu.active {display:block;opacity:1;transition:all 2s;}
/* 최종 CSS */
.btn-menu {position: absolute; top:50px;right:50px; width:60px; height:60px; border:3px solid #000; -webkit-box-sizing:border-box; box-sizing:border-box; background:#fff;z-index:100;}
.btn-menu:before, 
.btn-menu:after {display:block; content:""; position:absolute; left:50%; top:50%; width:36px; height:3px; background:#000; -webkit-transform:translateX(-50%); transform:translateX(-50%); -webkit-transition:all 0.8s cubic-bezier(0.23, 1, 0.32, 1); transition:all 0.8s cubic-bezier(0.23, 1, 0.32, 1);}
.btn-menu:before {margin-top:-8px;}
.btn-menu:after {margin-top:4px;}
.btn-menu.active:before {margin-top:-2px; -webkit-transform:translateX(-50%) rotate(45deg) translateZ(0); transform:translateX(-50%) rotate(45deg) translateZ(0);}
.btn-menu.active:after {margin-top:-2px; -webkit-transform:translateX(-50%) rotate(-45deg) translateZ(0); transform:translateX(-50%) rotate(-45deg) translateZ(0);}

@media screen and (max-width: 543.9px) { 
    #content-1307 #section_1s1qzdxhx {padding-top: 0rem;margin-top: -1.6666666666666667rem;}}
    #content-1307 #content_qji7o7gms {padding-top: 5.555555555555555rem;margin-top: 0rem;padding-right: 0rem;margin-right: 0rem;padding-bottom: 2.7777777777777777rem;margin-bottom: 0rem;padding-left: 0rem;margin-left: 0rem;}
    #content-1307 #content_qji7o7gms .is-content {}
@media screen and (max-width: 543.9px) { 
    #content-1307 #content_qji7o7gms {padding-bottom: 0.2777777777777778rem;}
    #content-1307 #content_qji7o7gms .is-content {}
}
    #content-1307 #content_sv8jw50m6 {padding-top: 1.5rem;padding-bottom: 3.888888888888889rem;}
    #content-1307 #content_sv8jw50m6 .is-content {}
    #content-1307 #section_u88yt1urv {border-style: solid;}
    #content-1307 #column_rxt7y9j03 {}
    #content-1307 #content_veb881u82 {padding-right: 0rem;margin-right: 0rem;padding-left: 0rem;margin-left: 0rem;}
    #content-1307 #content_veb881u82 .is-content {}
@media screen and (min-width: 768px) and (max-width: 991.9px) { 
    #content-1307 #content_veb881u82 {padding-right: 0rem;padding-left: 0rem;}
    #content-1307 #content_veb881u82 .is-content {}
}
    #content-1307 #content_9a9ra772o .spacer { background-color: #ffffff; }
    #content-1307 #content_9a9ra772o .spacer { height: 3.3333333333333335rem; }
    #content-1307 {}
    .nav_9kx4kxo6b { background-color: rgba(245, 245, 245, 0);; }
    .nav_9kx4kxo6b { height: 6.444444444444445rem; }
    .is-frontend #content-1307 .sections { margin-top: 6.444444444444445rem; }
    .nav_9kx4kxo6b { padding-top: 3.3333333333333335rem; }
    .nav_9kx4kxo6b { padding-bottom: 3.3333333333333335rem; }
    .nav_9kx4kxo6b .navbar-inner .logo { margin-top: 0rem; }
    .nav_9kx4kxo6b .logo img, .nav_9kx4kxo6b .logo svg { width: 3.5rem; }
    .nav_9kx4kxo6b .navbar-inner .logo { align-items: center; }
    .nav_9kx4kxo6b .navbar-inner .hamburger { align-items: center; }
    .nav_9kx4kxo6b .navbar-inner .hamburger a.menu-icon span { background-color: #000000; }
    .nav_9kx4kxo6b .navbar-inner .hamburger a.menu-icon { width: 1.7222222222222223rem; }
    .nav_9kx4kxo6b .navbar-inner .hamburger a.menu-icon span { height: 7px; }
    .nav_9kx4kxo6b .navbar-inner .hamburger a.open-menu span::before { transform: translateY(-14px); }
    .nav_9kx4kxo6b .navbar-inner .hamburger a.open-menu span::after { transform: translateY(14px); }
    .nav_9kx4kxo6b .navbar-inner .hamburger a.open-menu:hover span::before { transform: translateY(-16px); }
    .nav_9kx4kxo6b .navbar-inner .hamburger a.open-menu:hover span::after { transform: translateY(16px); }
    .nav_9kx4kxo6b .navbar-inner .hamburger a.menu-icon { height: 35px; }
    .nav_9kx4kxo6b .navbar-inner .hamburger a.menu-icon span { margin-top: 17.5px; }
    .nav_9kx4kxo6b .navbar-inner .hamburger { display: flex; }
    .nav_9kx4kxo6b .navbar-inner nav ul li a span { color: #666666; }
    .nav_9kx4kxo6b .navbar-inner nav.standard ul { align-items: center; }
    .nav_9kx4kxo6b .navbar-inner nav ul li a:hover span, .navbar-inner nav ul li.current-menu-item a span, .navbar-inner nav ul li.current_page_item a span, .nav_9kx4kxo6b .navbar-inner nav ul li.wrap-focus a span { color: #020202; }
    .nav_9kx4kxo6b .navbar-inner nav ul li.current-menu-item a span { color: #020202; }
    .nav_9kx4kxo6b .navbar-inner nav ul li.current_page_item a span { color: #020202; }[data-post-type="project"] 
    .navbar-inner nav ul li.portfolio-grid a span, [data-post-type="post"] 
    .navbar-inner nav ul li.blog-overview a span { color: #020202; }
    #overlay-menu { background-color: rgba(245, 245, 245, 1); }
    #overlay-menu .overlay-menu-inner nav { text-align: center; }
    #overlay-menu .overlay-menu-inner nav ul li a span { font-size: 3.3333333333333335rem; }
    #overlay-menu .overlay-menu-inner nav ul li a span { color: #020202; }
    #overlay-menu .overlay-menu-inner nav ul li a { padding-top: 0.69444444444444rem; }
    #overlay-menu .overlay-menu-inner nav ul li a { padding-bottom: 0.69444444444444rem; }
    #overlay-menu .overlay-menu-inner nav ul li a span { letter-spacing: 0rem; }
    #overlay-menu .overlay-menu-inner nav ul li a span { border-bottom-width: 0rem; }
    #overlay-menu .overlay-menu-inner nav ul li a span { padding-bottom: 0rem; }
    #overlay-menu .overlay-menu-inner nav ul li a:hover span { color: #666666; }
    #overlay-menu .overlay-menu-inner nav ul li.current-menu-item a span { color: #666666; }
    #overlay-menu .overlay-menu-inner nav ul li.current_page_item a span { color: #666666; }[data-post-type="project"] 
    #overlay-menu .overlay-menu-inner nav ul li.portfolio-grid a span, [data-post-type="post"] 
    #overlay-menu .overlay-menu-inner nav ul li.blog-overview a span { color: #666666; }
    #overlay-menu nav ul li a:hover span { border-bottom-color: transparent; }
    #overlay-menu .overlay-menu-inner nav ul li.current-menu-item a span { border-bottom-color: transparent; }
    #overlay-menu .overlay-menu-inner nav ul li.current_page_item a span { border-bottom-color: transparent; }[data-post-type="project"] 
    #overlay-menu .overlay-menu-inner nav ul li.portfolio-grid a span, [data-post-type="post"] 
    #overlay-menu .overlay-menu-inner nav ul li.blog-overview a span { border-bottom-color: transparent; }
    @media screen and (min-width: 992px) and (max-width: 1169.9px) { 
        .nav_9kx4kxo6b .navbar-inner .hamburger a.menu-icon { height: 35px; }
        .nav_9kx4kxo6b .navbar-inner .hamburger a.menu-icon span { margin-top: 17.5px; }
    }
    @media screen and (min-width: 768px) and (max-width: 991.9px) { 
        .nav_9kx4kxo6b .navbar-inner .hamburger a.menu-icon { height: 35px; }
        .nav_9kx4kxo6b .navbar-inner .hamburger a.menu-icon span { margin-top: 17.5px; }
    }
    @media screen and (min-width: 544px) and (max-width: 767.9px) { 
        .nav_9kx4kxo6b { height: 3.888888888888889rem; }
        .is-frontend #content-1307 .sections { margin-top: 3.888888888888889rem; }
        .nav_9kx4kxo6b { padding-top: 3.3333333333333335rem; }
        .nav_9kx4kxo6b { padding-bottom: 3.3333333333333335rem; }
        .nav_9kx4kxo6b .navbar-inner .hamburger a.menu-icon { height: 35px; }
        .nav_9kx4kxo6b .navbar-inner .hamburger a.menu-icon span { margin-top: 17.5px; }
    }
    @media screen and (max-width: 543.9px) { 
        .nav_9kx4kxo6b { height: 3.888888888888889rem; }
        .is-frontend #content-1307 .sections { margin-top: 3.888888888888889rem; }
        .nav_9kx4kxo6b { padding-top: 2.7777777777777777rem; }
        .nav_9kx4kxo6b { padding-bottom: 2.7777777777777777rem; }
        .nav_9kx4kxo6b .navbar-inner .logo { margin-top: 0rem; }
        .nav_9kx4kxo6b .navbar-inner .hamburger a.menu-icon { height: 35px; }
        .nav_9kx4kxo6b .navbar-inner .hamburger a.menu-icon span { margin-top: 17.5px; }
        #overlay-menu .overlay-menu-inner nav ul li a span { font-size: 2.7777777777777777rem; }}

        .font_dx1x0n377, [data-font="font_dx1x0n377"], [data-font="font_dx1x0n377"] li a {font-family: "Roboto", sans-serif;font-weight: 900;font-style: normal;}
        .font_h05q5muv5, [data-font="font_h05q5muv5"], [data-font="font_h05q5muv5"] li a {font-family: "Roboto", sans-serif;font-weight: 400;font-style: normal;}
        .font_86hjni6vi, [data-font="font_86hjni6vi"], [data-font="font_86hjni6vi"] li a {font-family: "acumin-pro", sans-serif;font-weight: 700;font-style: normal;}
        .font_5katdfuww, [data-font="font_5katdfuww"], [data-font="font_5katdfuww"] li a {font-family: "acumin-pro", sans-serif;font-weight: 400;font-style: normal;}
        .font_6ap51cog0, [data-font="font_6ap51cog0"], [data-font="font_6ap51cog0"] li a {font-family: "Montserrat", sans-serif;font-weight: 900;font-style: normal;}
        .font_qccmt9bph, [data-font="font_qccmt9bph"], [data-font="font_qccmt9bph"] li a {font-family: "Montserrat", sans-serif;font-weight: 700;font-style: normal;}
        .font_91vawym96, [data-font="font_91vawym96"], [data-font="font_91vawym96"] li a {font-family: "Montserrat", sans-serif;font-weight: 800;font-style: normal;}
        .font_uopod8aga, [data-font="font_uopod8aga"], [data-font="font_uopod8aga"] li a, #content-holder h2 {font-family: "Montserrat", sans-serif;font-weight: 500;font-style: normal;}
        .font_7u2h1rfmv, [data-font="font_7u2h1rfmv"], [data-font="font_7u2h1rfmv"] li a, #content-holder h1 {font-family: "Montserrat", sans-serif;font-weight: 600;font-style: normal;}
        .font_vdk0yed7x, [data-font="font_vdk0yed7x"], [data-font="font_vdk0yed7x"] li a {font-family: "Montserrat", sans-serif;font-weight: 400;font-style: normal;}
        .font_1w81df9au, [data-font="font_1w81df9au"], [data-font="font_1w81df9au"] li a, #content-holder p, #content-holder li {font-family: "Lora", serif;font-weight: 400;font-style: normal;}
        .font_nm87rbumn, [data-font="font_nm87rbumn"], [data-font="font_nm87rbumn"] li a {font-family: "Lora", serif;font-weight: 700;font-style: normal;}
        .font_wv8255ljt, [data-font="font_wv8255ljt"], [data-font="font_wv8255ljt"] li a {font-family: "Lora", serif;font-weight: 400;font-style: italic;}
        .font_lishjufk5, [data-font="font_lishjufk5"], [data-font="font_lishjufk5"] li a {font-family: "Lora", sans-serif;font-weight: 700;font-style: italic;}

        @media screen and (min-width: 767px) {
            .main-font01 {display: block;}
            .main-font02 {display: none;}
            .intro-font-section {margin-top:70px;}
        }

        @media screen and (max-width: 767px) {
            .main-font01 {display: none;}
            .main-font02 {display: block;}
            .intro-font-section {margin-top:50px;}
        }
        .intro-font-section {padding-bottom: 3.888888888888889rem;}